@import "../../styles/shared";

.game-page {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;



  @media screen and (min-width: 980px) {
    &__menu-content {
      display: flex;
      align-items: center;
      width: 30%;
    }
  }
}